Options +FollowSymLinks -Indexes

RewriteEngine On

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-z-]+)\/?$ index.php?menu=$1

RewriteRule ^api/v1/([a-z-]+)\/?$ resources/api/auth.php?tipe=$1
RewriteRule ^api/v1/user/home?$ resources/api/home.php
RewriteRule ^api/v1/user/dashboard?$ resources/api/dashboard.php

RewriteRule ^account\/([A-Za-z0-9=-_]+)\/([A-Za-z0-9=-_]+)\/([A-Za-z0-9]+)\/?$ pages/frontend/verify.php?tipe=$1&email=$2&_token=$3
#RewriteRule ^account/reset-password?$ mods_json/reset-password.php
#RewriteRule ^logout?$ pages/logout.php
#RewriteRule ^dashboard/?$ pages/backend/dashboard.php

#RewriteRule ^generate?$ mods_json/generate_kuis.php

#RewriteRule ^api/v1/login/?$ mods_json/login.php
#RewriteRule ^api/v1/register/?$ mods_json/register.php
#RewriteRule ^api/v1/forget-password/?$ mods_json/forget-password.php
#RewriteRule ^api/v1/reset-password/?$ mods_json/reset-password.php
#RewriteRule ^api/v1/logout/?$ mods_json/logout.php
#RewriteRule ^api/v1/dashboard\/([a-z0-9]+)\/?$ mods_json/dashboard.php?_token=$1
#RewriteRule ^api/v1/home?$ mods_json/home.php
